[submodule "ros_ws/src/externalDependencies/libobjecttracker"]
	path = ros_ws/src/externalDependencies/libobjecttracker
	url = https://github.com/USC-ACTLab/libobjecttracker
[submodule "ros_ws/src/externalDependencies/libmotioncapture"]
	path = ros_ws/src/externalDependencies/libmotioncapture
	url = https://github.com/USC-ACTLab/libmotioncapture.git
[submodule "ros_ws/src/crazyflie_ros"]
	path = ros_ws/src/crazyflie_ros
	url = https://github.com/bma5287/crazyflie_ros.git
	branch = master
